body {
    background-color: #f8f9fa;
}

h1 {
    margin-bottom: 30px;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: gray;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.dot.active {
    background-color: green;
}

#waterStatus.water-needed {
    color: red;
    font-weight: bold;
}
#waterStatus.no-water-needed {
    color: green;
    font-weight: bold;
}
